*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

/* ---------------------------------------------------------Debut header----------------------------------------------  */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 12%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.logo{
    color: white;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3 ease;
}
.logo:hover{
    color: orangered;
    text-shadow: 0 0 25px orangered;
}
.navbar a{
    font-style: 18px;
    color:white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover{
    color: orangered;
    border-bottom: 3px solid orangered;
}


/* ---------------------------------------------------------Fin header-----------------------------------------  */






/* ---------------------------------------------------------Debut Home----------------------------------------------  */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    gap: 0 20px;
}
span{
    color: orangered;
    font-size: 38px;
}
.content{

}
.btn-box{
    margin-top: 20px;
}
.btn{
    margin: 10px 0;
    padding: 15px;
    border-radius: 20px;
}
.btn-1{
    color: white;
    background-color: orangered;
    font-weight: 600;
}
.btn-1:hover{
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    background-color: white;
    border: 1px solid gray;
}
.btn-2{
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: 600;

}
.btn-2:hover{
    color: black;
    background-color: white;
    border: 1px solid gray;
}
.img-box{

}
.img-box img{
    width: 650px;
    height: 100vh;
    border-radius: 50%;
}

/* ---------------------------------------------------------Fin Home-----------------------------------------  */






/* ---------------------------------------------------------Debut Presentation----------------------------------------------  */
.presentation{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
.title{
    font-weight: 600;
    text-align: center;
    padding: 85px 0;
    font-size: 36px;
}
.contenu-presentation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 50px;
    padding: 0 80px;
}
.presentation-img img{
    border-radius: 70%;
    height: 500px;
    width: 500px;
}
img{
    transition:  .3s ease;
    border: 2px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.8);
    margin: 20px 0;
}
img:hover{
    transform: scale(1.1);

}
/* ---------------------------------------------------------Fin Presentation-----------------------------------------  */



/* ---------------------------------------------------------Debut Compétences-----------------------------------------  */
.skills h1{
    color: rgba(0, 0, 0, 0.8);
}
.skill-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 5%;
}
.soft{
    border: 2px solid orangered;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
}
.hard{
    border: 2px solid orangered;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
}
.language{
    display: flex;
    align-items: center;
    margin: 10px 10px;
    gap:20px

}


/* ---------------------------------------------------------Fin Compétences-----------------------------------------  *//* ---------------------------------------------------------Debut Compétences-----------------------------------------  */





/* ---------------------------------------------------------Debut Projets-----------------------------------------  *//* ---------------------------------------------------------Fin Compétences-----------------------------------------  *//* ---------------------------------------------------------Debut Compétences-----------------------------------------  */
.projects{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
}
.project-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.project{
    text-align: center;
    max-width: 400px;
    height: 500px;
    border: 1px solid white;
}
.project img{
    margin-top: 20px;
    width: 80%;
    height: 60%;
    border-radius: 10px;
}
.project h1{margin-bottom: 20px;}
/* ---------------------------------------------------------Fin Projets-----------------------------------------  */



/* ---------------------------------------------------------Debut Contact-----------------------------------------  *//* ---------------------------------------------------------Fin Compétences-----------------------------------------  *//* ---------------------------------------------------------Debut Compétences-----------------------------------------  */
.contacts h1{
    color: rgba(0, 0, 0, 0.8);
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 420px;

}
.social-container{
    display: flex;
    align-items: center;
     background-color: rgba(0, 0, 0, 0.8);
     justify-content: center;
     gap: 20px;
     margin: 10px 100px;
     height: 150px;
     padding: 50px;
     border-radius: 40px;
}
.social-container a{
    font-weight: bold;
    color: orangered;
}
.social-container i{
    color: white;
    font-size: 30px;
    padding: 0 5px;
}

/* ---------------------------------------------------------Fin Contact-----------------------------------------  */



/* ---------------------------------------------------------Debut Footer-----------------------------------------  *//* ---------------------------------------------------------Fin Compétences-----------------------------------------  *//* ---------------------------------------------------------Debut Compétences-----------------------------------------  */
.footer{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}
.footer .copyright{
    color: white;
    font-size: 17px;
    text-align: center;
    margin-top: 15px;
}

/* ---------------------------------------------------------Fin Footer-----------------------------------------  */





